#content{
	text-align: center;
	padding-top: 25%;
	/*text-shadow: 0px 4px 3px red,
				0px 8px 9px orange,
				0px 12px 15px yellow;
*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 12px 23px rgba(0,0,0,0.1);
}
body{
	background: url(https://images3.alphacoders.com/978/thumb-1920-978403.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

html{
	height: 100%; 

}

hr{
	width: 400px;
	max-width: 90%; /*This help if the HR is trasspasing*/
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}